.search {
  margin: 20px;
  position: relative;
}

.search form {
  display: flex;
}

/* 자식  요소 선택  */
.search form:hover .search-icon {
  opacity: 1;
}

/* ~ 형제 요소 선택  
.search form:hover ~ .test {
  display: none;
}
*/

.search .search-field {
  width: 100%;
  flex-shrink: 0;
  transition: 0.3s;
}

.search .search-field:focus {
  flex-shrink: initial;
}

.search .search-field:focus ~ .cancel-btn {
  opacity: 1;
}

.search .cancel-btn {
  flex-shrink: 0;
  margin-left: 24px;
  opacity: 0;
  transition: 0.2s;
}

.search .search-icon {
  position: absolute;
  left: 12px;
  top: 12px;
  opacity: 0.3;
}

.text-area {
  margin: 24px;
  margin-top: 124px;
  margin-bottom: 12px;
}

.text-area .desc {
  margin-top: 12px;
}

/* wrapper */
.list {
  font-size: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 148px;
  grid-column-gap: 17px;
  grid-row-gap: 18px;
  padding: 24px;
}

/* photo */
.list .item {
  background-color: red;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.list .item:nth-child(1) {
  background-image: url('./img/likes-1.jpg');
}

.list .item:nth-child(2) {
  background-image: url('./img/likes-2.jpg');
}

.list .item:nth-child(3) {
  background-image: url('./img/likes-3.jpg');
}

.list .item:nth-child(4) {
  background-image: url('./img/likes-4.jpg');
}

.list .item:nth-child(5) {
  background-image: url('./img/likes-1.jpg');
}

.list .item:nth-child(6) {
  background-image: url('./img/likes-2.jpg');
}